$main-color: #3777B2;
$gray-color: #666;

/*-- clear--*/
html,body,div,p,ul,li,img,header,footer,nav,section,article,aside,figure,
li li,li p,li pre,li dt,li dd,dd li,dd p,dd pre,dd dt,dd dd,
h1,h2,h3,h4,h5,h6,
input,button,textarea {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	border: none;
	box-shadow: none;
}
a {
	text-decoration: none;
}

/*-- common --*/
body {
	background: #AAA;
	border-top: 6px solid $gray-color;
}
.inner {
	width: 1080px;
	margin: 0 auto;
}

/*-- header --*/
header {
	width: 100%;
	height: 80px;
	background: white;
	border-bottom: 3px solid #DDDDDD;
	.logo {
		float: left;
		margin-top: 17px;
		margin-left: 15px;
	}
	nav {
		float: left;
		margin-left: 215px;
		width: 600px;
		ul {
			margin-top: 33px;
			li {
				float: left;
				margin-left: 60px;
				font-size: 23px;
				a {
					color: $gray-color;
				}
			}
		}
	}
}
h1 {
	font-size: 81px;
	color: white;
	text-shadow: -1px -1px white, 1px 1px #444;
	&:first-letter {
		font-size: 96px;
	}
}


