$main-color: #3777B2;
$gray-color: #666;

/*-- clear--*/
html,body,div,p,ul,li,img,header,footer,nav,section,article,aside,figure,
li li,li p,li pre,li dt,li dd,dd li,dd p,dd pre,dd dt,dd dd,
h1,h2,h3,h4,h5,h6,
input,button,textarea {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	border: none;
	box-shadow: none;
}
a {
	text-decoration: none;
}

/*-- common --*/
@font-face {
	font-family: 'GillSans';
		src: local('GillSans');
		src: url('fonts/GillSans.ttc');
	font-family: 'MyriadWebPro';
		src: local('MyriadWebPro.ttf');
		src: url('fonts/MyriadWebPro.ttf');
}
body {
	background: #AAA;
	border-top: 6px solid $gray-color;
	background: #EEE;
}
.inner {
	width: 1080px;
	margin: 0 auto;
}

/*-- header --*/
header {
	width: 100%;
	height: 80px;
	background: white;
	border-bottom: 3px solid #DDDDDD;
	.logo {
		float: left;
		margin-top: 17px;
		margin-left: 15px;
		&:hover {
			opacity: 0.8;
		}
	}
	nav {
		float: left;
		margin-left: 215px;
		width: 600px;
		ul {
			margin-top: 33px;
			li {
				float: left;
				margin-left: 60px;
				font-size: 23px;
				a {
					color: $gray-color;
					font-family: "GillSans";
					font-weight: normal;
					letter-spacing: 1px;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
}

/*-- main --*/
.mainvisual {
	margin: 0 auto;
	width: 100%;
	min-width: 1080px;
	height: 480px;
	background: url(images/mainvisual.png) no-repeat;
	background-size: 100% auto;
	background-position: center top;
	h1 {
		float: left;
		margin-top: 115px;
		margin-left: 77px;
		width: 100%;
		letter-spacing: 2px;
		font-size: 81px;
		font-weight: normal;
		font-family: "MyriadWebPro";
		color: white;
		text-shadow: -1px -1px white, 1px 1px #444;
		clear: both;
		&:first-letter {
			font-size: 96px;
			font-weight: bold;
		}
	}
	p {
		float: left;
		margin-top: 53px;
		margin-left: 160px;
		text-align: right;
		font-size: 30px;
		font-weight: normal;
		color: white;
		font-size: 30px;
		big {
			font-size: 37px;
		}
	}
}


