/*-- clear--*/
html, body, div, p, ul, li, img, header, footer, nav, section, article, aside, figure,
li li, li p, li pre, li dt, li dd, dd li, dd p, dd pre, dd dt, dd dd,
h1, h2, h3, h4, h5, h6,
input, button, textarea {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  box-shadow: none; }

a {
  text-decoration: none; }

/*-- common --*/
@font-face {
  font-family: 'GillSans';
  src: local("GillSans");
  src: url("fonts/GillSans.ttc");
  font-family: 'MyriadWebPro';
  src: local("MyriadWebPro.ttf");
  src: url("fonts/MyriadWebPro.ttf");
  font-family: 'KozGoPr6N-ExtraLight';
  src: local("KozGoPr6N-ExtraLight.otf");
  src: url("fonts/KozGoPr6N-ExtraLight.otf");
  font-family: 'EuphemiaCAS';
  src: local("EuphemiaCAS.ttc");
  src: url("fonts/EuphemiaCAS.ttc"); }

body {
  background: #AAA;
  border-top: 6px solid #666666;
  background: #EEE;
  min-width: 1080px; }

.inner {
  width: 1080px;
  margin: 0 auto; }

/*-- header --*/
header {
  width: 100%;
  height: 80px;
  background: white;
  border-bottom: 3px solid #DDDDDD; }
  header .logo {
    float: left;
    margin-top: 17px;
    margin-left: 15px; }
    header .logo:hover {
      opacity: 0.8; }
  header nav {
    float: left;
    margin-left: 215px;
    width: 600px; }
    header nav ul {
      margin-top: 33px; }
      header nav ul li {
        float: left;
        margin-left: 60px;
        font-size: 23px; }
        header nav ul li a {
          color: #666666;
          font-family: "GillSans";
          font-weight: normal;
          letter-spacing: 1px; }
          header nav ul li a:hover {
            opacity: 0.8; }

/*-- main --*/
.mainvisual {
  margin: 0 auto;
  width: 100%;
  min-width: 1080px;
  height: 480px;
  background: url(images/mainvisual.png) no-repeat;
  background-size: 100% auto;
  background-position: center top; }
  .mainvisual h1 {
    float: left;
    margin-top: 115px;
    margin-left: 77px;
    width: 100%;
    letter-spacing: 2px;
    font-size: 81px;
    font-weight: normal;
    font-family: "MyriadWebPro";
    color: white;
    text-shadow: -1px -1px white, 1px 1px #444;
    clear: both; }
    .mainvisual h1:first-letter {
      font-size: 96px;
      font-weight: bold; }
  .mainvisual p {
    float: left;
    margin-top: 53px;
    margin-left: 160px;
    text-align: right;
    font-size: 30px;
    font-weight: normal;
    color: white;
    font-size: 30px; }
    .mainvisual p big {
      font-size: 37px; }

.feature .download {
  margin: 80px auto;
  width: 232px; }
  .feature .download:hover {
    opacity: 0.8; }
.feature .with {
  margin: 0 auto;
  margin-top: 100px;
  width: 605px;
  height: 42px;
  background: url(images/with.png) no-repeat; }
.feature h2 {
  font-size: 15px;
  text-align: center;
  opacity: 0; }
.feature .three {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: -100px;
  width: 980px;
  overflow: hidden;
  color: #666666;
  font-size: 23px;
  font-weight: normal;
  text-align: center; }
  .feature .three .search {
    float: left;
    margin-right: 77px;
    padding-top: 190px;
    width: 271px;
    height: 308px;
    background: url(images/f-search.png) no-repeat; }
  .feature .three .purchase {
    float: left;
    margin-right: 77px;
    padding-top: 190px;
    width: 271px;
    height: 308px;
    background: url(images/f-purchase.png) no-repeat; }
  .feature .three .control {
    float: left;
    padding-top: 190px;
    width: 271px;
    height: 308px;
    background: url(images/f-control.png) no-repeat; }

.howto {
  margin-top: 20px;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: url(images/background-gray.png); }
  .howto .search {
    float: left;
    margin-top: 220px;
    margin-bottom: 60px;
    width: 1080px;
    height: 410px;
    background: url(images/h-circle.png) no-repeat; }
    .howto .search .headline {
      float: left;
      margin-top: -140px;
      margin-left: 40px;
      width: 326px;
      height: 89px;
      background: url(images/h-search.png) no-repeat; }
    .howto .search h3 {
      float: left;
      margin-top: -150px;
      margin-left: 50px;
      font-size: 88px;
      opacity: 0; }
    .howto .search .description {
      margin-top: 25px;
      text-align: right;
      font-size: 27px;
      color: white;
      font-weight: bold; }
      .howto .search .description p {
        margin-bottom: 20px;
        padding-top: 35px;
        font-family: "Hiragino Kaku Gothic Pro";
        font-weight: normal;
        letter-spacing: 2px; }
      .howto .search .description p:first-child {
        padding-right: 70px;
        font-size: 32px; }
      .howto .search .description p:first-child:first-letter {
        font-size: 88px;
        font-weight: bold;
        font-family: "EuphemiaCAS";
        color: #00b2b2;
        padding-right: 40px; }
  .howto .music {
    float: left;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 1080px;
    height: 405px;
    background: url(images/h-music.png) no-repeat; }
    .howto .music .description {
      margin-top: 20px;
      text-align: left;
      font-size: 27px;
      color: white;
      font-weight: bold; }
      .howto .music .description p {
        margin-bottom: 20px;
        padding-top: 15px;
        font-family: "Hiragino Kaku Gothic Pro";
        font-weight: normal;
        letter-spacing: 2px; }
      .howto .music .description p:first-child {
        padding-left: 75px;
        font-size: 32px; }
      .howto .music .description p:first-child:first-letter {
        font-size: 88px;
        font-weight: bold;
        font-family: "EuphemiaCAS";
        color: #00b2b2;
        padding-right: 20px; }
      .howto .music .description p:nth-child(2) {
        padding-right: 40px; }
  .howto .purchase {
    float: left;
    margin-top: 220px;
    margin-bottom: 60px;
    width: 1080px;
    height: 405px;
    background: url(images/h-checkitout.png); }
    .howto .purchase .headline {
      float: left;
      margin-top: -140px;
      margin-left: 40px;
      width: 401px;
      height: 90px;
      background: url(images/h-purchase.png) no-repeat; }
    .howto .purchase h3 {
      float: left;
      margin-top: -150px;
      margin-left: 50px;
      font-size: 88px;
      opacity: 0; }
    .howto .purchase .description {
      margin-top: 20px;
      text-align: right;
      font-size: 25px;
      color: white;
      font-weight: bold; }
      .howto .purchase .description p {
        margin-bottom: 20px;
        padding-top: 10px;
        font-family: "Hiragino Kaku Gothic Pro";
        font-weight: normal;
        letter-spacing: 2px; }
      .howto .purchase .description p:first-child {
        padding-right: 35px;
        font-size: 32px; }
      .howto .purchase .description p:first-child:first-letter {
        font-size: 88px;
        font-weight: bold;
        font-family: "EuphemiaCAS";
        color: #00b2b2;
        padding-right: 40px; }
      .howto .purchase .description p:nth-child(2) {
        padding-right: 40px; }
      .howto .purchase .description small {
        color: #DDD;
        font-size: 15px;
        line-height: 1.2em;
        font-weight: normal; }
  .howto .control {
    float: left;
    margin-top: 220px;
    margin-bottom: 60px;
    width: 1080px;
    height: 410px;
    background: url(images/h-pinch.png) no-repeat; }
    .howto .control .headline {
      float: left;
      margin-top: -140px;
      margin-left: 40px;
      width: 353px;
      height: 78px;
      background: url(images/h-control.png) no-repeat; }
    .howto .control h3 {
      float: left;
      margin-top: -150px;
      margin-left: 50px;
      font-size: 88px;
      opacity: 0; }
    .howto .control .description {
      margin-top: 5px;
      text-align: right;
      font-size: 27px;
      color: white;
      font-weight: bold; }
      .howto .control .description p {
        margin-bottom: 20px;
        padding-top: 25px;
        font-family: "Hiragino Kaku Gothic Pro";
        font-weight: normal;
        letter-spacing: 2px; }
      .howto .control .description p:first-child {
        padding-right: 35px;
        font-size: 32px; }
      .howto .control .description p:first-child:first-letter {
        font-size: 88px;
        font-weight: bold;
        font-family: "EuphemiaCAS";
        color: #00b2b2;
        padding-right: 30px; }
  .howto .pause {
    float: left;
    margin-top: 20px;
    margin-bottom: 150px;
    width: 1080px;
    height: 418px;
    background: url(images/h-pause.png) no-repeat; }
    .howto .pause .description {
      margin-top: 35px;
      text-align: left;
      font-size: 24px;
      color: white;
      font-weight: bold;
      line-height: 1.4em; }
      .howto .pause .description p {
        margin-bottom: 20px;
        padding-top: 45px;
        font-family: "Hiragino Kaku Gothic Pro";
        font-weight: normal;
        letter-spacing: 2px; }
      .howto .pause .description p:first-child {
        padding-left: 102px;
        font-size: 32px; }
      .howto .pause .description p:first-child:first-letter {
        font-size: 88px;
        font-weight: bold;
        font-family: "EuphemiaCAS";
        color: #00b2b2;
        padding-right: 50px; }

.cooperate {
  padding-bottom: 50px;
  overflow: hidden; }
  .cooperate h2 {
    font-size: 50px;
    text-align: center;
    opacity: 0; }
  .cooperate .support {
    margin: 0 auto;
    margin-top: 140px;
    width: 642px;
    height: 47px;
    background: url(images/supported.png) no-repeat; }
  .cooperate .company {
    margin: 0 auto;
    margin-top: 130px;
    width: 1080px; }
    .cooperate .company div {
      float: left;
      margin-left: 50px;
      padding-bottom: 100px; }
      .cooperate .company div:hover {
        opacity: 0.7; }
    .cooperate .company div.pux {
      margin-left: 70px;
      margin-right: 50px; }

footer {
  position: relative;
  width: 100%;
  min-width: 1080px;
  height: 878px;
  background: url(images/footer.png);
  background-size: 100% auto; }
  footer h2 {
    padding-top: 60px;
    margin-bottom: -60px;
    color: white;
    font-size: 70px;
    text-align: center;
    opacity: 0; }
  footer .team {
    margin: 0 auto;
    width: 191px;
    height: 55px;
    background: url(images/team.png) no-repeat; }
  footer .members-area {
    position: relative;
    top: 30px;
    margin: 0 auto;
    width: 1080px; }
    footer .members-area div {
      position: absolute; }
      footer .members-area div h3, footer .members-area div p {
        color: white;
        text-align: center;
        letter-spacing: 2px;
        font-size: 25px;
        font-weight: normal;
        font-family: "KozGoPr6N-ExtraLight"; }
      footer .members-area div p {
        padding-top: -5px;
        font-size: 20px; }
      footer .members-area div img:hover {
        border: 3px solid #00b2b2;
        border-radius: 100px; }
      footer .members-area div.hajime {
        top: 50px;
        left: 180px; }
        footer .members-area div.hajime h3, footer .members-area div.hajime p {
          padding-left: -15px; }
      footer .members-area div.yoko {
        top: 50px;
        left: 740px; }
      footer .members-area div.daniel {
        top: 380px;
        left: 180px; }
      footer .members-area div.onishi {
        top: 380px;
        left: 740px; }
        footer .members-area div.onishi h3, footer .members-area div.onishi p {
          margin-left: -15px; }
  footer .origia {
    position: absolute;
    top: 200px;
    left: 400px;
    width: 275px;
    height: 275px;
    background: url(images/origia.png) no-repeat; }
