$green-color: #00B2B2;
$gray-color: #666;

/*-- clear--*/
html,body,div,p,ul,li,img,header,footer,nav,section,article,aside,figure,
li li,li p,li pre,li dt,li dd,dd li,dd p,dd pre,dd dt,dd dd,
h1,h2,h3,h4,h5,h6,
input,button,textarea {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	border: none;
	box-shadow: none;
}
a {
	text-decoration: none;
}

/*-- common --*/
@font-face {
	font-family: 'GillSans';
		src: local('GillSans');
		src: url('fonts/GillSans.ttc');
	font-family: 'MyriadWebPro';
		src: local('MyriadWebPro.ttf');
		src: url('fonts/MyriadWebPro.ttf');
	font-family: 'KozGoPr6N-ExtraLight';
		src: local('KozGoPr6N-ExtraLight.otf');
		src: url('fonts/KozGoPr6N-ExtraLight.otf');
	font-family: 'EuphemiaCAS';
		src: local('EuphemiaCAS.ttc');
		src: url('fonts/EuphemiaCAS.ttc');
}
body {
	background: #AAA;
	border-top: 6px solid $gray-color;
	background: #EEE;
	min-width: 1080px;
}
.inner {
	width: 1080px;
	margin: 0 auto;
}

/*-- header --*/
header {
	width: 100%;
	height: 80px;
	background: white;
	border-bottom: 3px solid #DDDDDD;
	.logo {
		float: left;
		margin-top: 17px;
		margin-left: 15px;
		&:hover {
			opacity: 0.8;
		}
	}
	nav {
		float: left;
		margin-left: 215px;
		width: 600px;
		ul {
			margin-top: 33px;
			li {
				float: left;
				margin-left: 60px;
				font-size: 23px;
				a {
					color: $gray-color;
					font-family: "GillSans";
					font-weight: normal;
					letter-spacing: 1px;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
}

/*-- main --*/
.mainvisual {
	margin: 0 auto;
	width: 100%;
	min-width: 1080px;
	height: 480px;
	background: url(images/mainvisual.png) no-repeat;
	background-size: 100% auto;
	background-position: center top;
	h1 {
		float: left;
		margin-top: 115px;
		margin-left: 77px;
		width: 100%;
		letter-spacing: 2px;
		font-size: 81px;
		font-weight: normal;
		font-family: "MyriadWebPro";
		color: white;
		text-shadow: -1px -1px white, 1px 1px #444;
		clear: both;
		&:first-letter {
			font-size: 96px;
			font-weight: bold;
		}
	}
	p {
		float: left;
		margin-top: 53px;
		margin-left: 160px;
		text-align: right;
		font-size: 30px;
		font-weight: normal;
		color: white;
		font-size: 30px;
		big {
			font-size: 37px;
		}
	}
}
.feature {
	.download {
		margin: 80px auto;
		width: 232px;
		&:hover {
			opacity: 0.8;
		}
	}
	.with {
		margin: 0 auto;
		margin-top: 100px;
		width: 605px;
		height: 42px;
		background: url(images/with.png) no-repeat;
	}
	h2 {
		font-size: 15px;
		text-align: center;
		opacity: 0;
	}
	.three {
		margin: 0 auto;
		margin-top: 80px;
		margin-bottom: -100px;
		width: 980px;
		overflow: hidden;
		color: $gray-color;
		font-size: 23px;
		font-weight: normal;
		text-align: center;
		.search {
			float: left;
			margin-right: 77px;
			padding-top: 190px;
			width: 271px;
			height: 308px;
			background: url(images/f-search.png) no-repeat;
		}
		.purchase {
			float: left;
			margin-right: 77px;
			padding-top: 190px;
			width: 271px;
			height: 308px;
			background: url(images/f-purchase.png) no-repeat;
		}
		.control {
			float: left;
			padding-top: 190px;
			width: 271px;
			height: 308px;
			background: url(images/f-control.png) no-repeat;
		}
	}
}
.howto {
	margin-top: 20px;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: url(images/background-gray.png);
	.search {
		float: left;
		margin-top: 220px;
		margin-bottom: 60px;
		width: 1080px;
		height: 410px;
		background: url(images/h-circle.png) no-repeat;
		.headline {
			float: left;
			margin-top: -140px;
			margin-left: 40px;
			width: 326px;
			height: 89px;
			background: url(images/h-search.png) no-repeat;
		}
		h3 {
			float: left;
			margin-top: -150px;
			margin-left: 50px;
			font-size: 88px;
			opacity: 0;
		}
		.description {
			margin-top: 25px;
			text-align: right;
			font-size: 27px;
			color: white;
			font-weight: bold;
			p {
				margin-bottom: 20px;
				padding-top: 35px;
				font-family: "Hiragino Kaku Gothic Pro";
				font-weight: normal;
				letter-spacing: 2px;
			}
			p:first-child {
				padding-right: 70px;
				font-size: 32px;
			}
			p:first-child:first-letter {
				font-size: 88px;
				font-weight: bold;
				font-family: "EuphemiaCAS";
				color: $green-color;
				padding-right: 40px;
			}
		}
	}
	.music {
		float: left;
		margin-top: 30px;
		margin-bottom: 60px;
		width: 1080px;
		height: 405px;
		background: url(images/h-music.png) no-repeat;
		.description {
			margin-top: 20px;
			text-align: left;
			font-size: 27px;
			color: white;
			font-weight: bold;
			p {
				margin-bottom: 20px;
				padding-top: 15px;
				font-family: "Hiragino Kaku Gothic Pro";
				font-weight: normal;
				letter-spacing: 2px;
			}
			p:first-child {
				padding-left: 75px;
				font-size: 32px;
			}
			p:first-child:first-letter {
				font-size: 88px;
				font-weight: bold;
				font-family: "EuphemiaCAS";
				color: $green-color;
				padding-right: 20px;
			}
			p:nth-child(2) {
				padding-right: 40px;
			}
		}
	}
	.purchase {
		float: left;
		margin-top: 220px;
		margin-bottom: 60px;
		width: 1080px;
		height: 405px;
		background: url(images/h-checkitout.png);
		.headline {
			float: left;
			margin-top: -140px;
			margin-left: 40px;
			width: 401px;
			height: 90px;
			background: url(images/h-purchase.png) no-repeat;
		}
		h3 {
			float: left;
			margin-top: -150px;
			margin-left: 50px;
			font-size: 88px;
			opacity: 0;
		}
		.description {
			margin-top: 20px;
			text-align: right;
			font-size: 25px;
			color: white;
			font-weight: bold;
			p {
				margin-bottom: 20px;
				padding-top: 10px;
				font-family: "Hiragino Kaku Gothic Pro";
				font-weight: normal;
				letter-spacing: 2px;
			}
			p:first-child {
				padding-right: 0px;
				font-size: 32px;
			}
			p:first-child:first-letter {
				font-size: 88px;
				font-weight: bold;
				font-family: "EuphemiaCAS";
				color: $green-color;
				padding-right: 40px;
			}
			p:nth-child(2) {
				padding-right: 40px;
			}
			small {
				color: #DDD;
				font-size: 11px;
			}
		}
	}
	.control {
		float: left;
		margin-top: 220px;
		margin-bottom: 60px;
		width: 1080px;
		height: 410px;
		background: url(images/h-pinch.png) no-repeat;
		.headline {
			float: left;
			margin-top: -140px;
			margin-left: 40px;
			width: 353px;
			height: 78px;
			background: url(images/h-control.png) no-repeat;
		}
		h3 {
			float: left;
			margin-top: -150px;
			margin-left: 50px;
			font-size: 88px;
			opacity: 0;
		}
		.description {
			margin-top: 5px;
			text-align: right;
			font-size: 27px;
			color: white;
			font-weight: bold;
			p {
				margin-bottom: 20px;
				padding-top: 25px;
				font-family: "Hiragino Kaku Gothic Pro";
				font-weight: normal;
				letter-spacing: 2px;
			}
			p:first-child {
				padding-right: 35px;
				font-size: 32px;
			}
			p:first-child:first-letter {
				font-size: 88px;
				font-weight: bold;
				font-family: "EuphemiaCAS";
				color: $green-color;
				padding-right: 30px;
			}
		}
	}
	.pause {
		float: left;
		margin-top: 20px;
		margin-bottom: 60px;
		width: 1080px;
		height: 418px;
		background: url(images/h-pause.png) no-repeat;
		.description {
			margin-top: 35px;
			text-align: left;
			font-size: 24px;
			color: white;
			font-weight: bold;
			line-height: 1.4em;
			p {
				margin-bottom: 20px;
				padding-top: 25px;
				font-family: "Hiragino Kaku Gothic Pro";
				font-weight: normal;
				letter-spacing: 2px;
			}
			p:first-child {
				padding-left: 115px;
				font-size: 32px;
			}
			p:first-child:first-letter {
				font-size: 88px;
				font-weight: bold;
				font-family: "EuphemiaCAS";
				color: $green-color;
				padding-right: 50px;
			}
		}
	}
}
.cooperate {
	padding-bottom: 50px;
	overflow: hidden;
	h2 {
		font-size: 50px;
		text-align: center;
		opacity: 0;
	}
	.support {
		margin: 0 auto;
		margin-top: 140px;
		width: 642px;
		height: 47px;
		background: url(images/supported.png) no-repeat;
	}
	.company {
		margin: 0 auto;
		margin-top: 130px;
		width: 1080px;
		div {
			float: left;
			margin-left: 50px;
			padding-bottom: 100px;
			&:hover {
				opacity: 0.7;
			}
		}
		div.pux {
			margin-left: 70px;
			margin-right: 50px;
		}
	}
}
footer {
	position: relative;
	width: 100%;
	min-width: 1080px;
	height: 878px;
	background: url(images/footer.png);
	background-size: 100% auto;
	h2 {
		padding-top: 60px;
		margin-bottom: -60px;
		color:white;
		font-size: 70px;
		text-align: center;
		opacity: 0;
	}
	.team {
		margin: 0 auto;
		width: 191px;
		height: 55px;
		background: url(images/team.png)no-repeat;
	}
	.members-area {
		position: relative;
		top: 30px;
		margin: 0 auto;
		width: 1080px;
		div {
			position: absolute;
			h3,p {
				color: white;
				text-align: center;
				letter-spacing: 2px;
				font-size: 25px;
				font-weight: normal;
				font-family: "KozGoPr6N-ExtraLight";
			}
			p {
				padding-top: -5px;
				font-size: 20px;
			}
			img:hover {
				border: 3px solid $green-color;
				border-radius: 100px;
			}
			&.hajime {
				top: 50px;
				left: 180px;
				h3,p {
					padding-left: -15px;
				}
			}
			&.yoko {
				top: 50px;
				left: 740px;
			}
			&.daniel {
				top: 380px;
				left: 180px;
			}
			&.onishi {
				top: 380px;
				left: 740px;
				h3,p {
					margin-left: -15px;
				}
			}
		}
	}
	.origia {
		position: absolute;
		top: 200px;
		left: 400px;
		width: 275px;
		height: 275px;
		background: url(images/origia.png) no-repeat;
	}
}

